<div class="row my-4">
    <div class="col-lg-12 col-12">
      <div class="custom-block bg-white">
        <h5 class="mb-2" style="text-align: center;">Gestion des courtiers d'assurance</h5>
        <div class="table-responsive">
          <table class="account-table table">
          
            <thead>
              <tr>
                <th scope="col">Matricule</th>

                <th scope="col">Prénom</th>

                <th scope="col">Nom</th>

                <th scope="col">Etablissement</th>

                <th scope="col">Date de création</th>

                <th scope="col">Date d'expiration</th>

                <th scope="col">Photo</th>

                <th scope="col">Etat</th>

                <th scope="col">Actions</th>
              </tr>
            </thead>
            {% for courtier in courtiers %}
            <tbody>
              <tr>
                <td scope="row">{{courtier.matricule}}</td>

                <td scope="row" >
                  <!-- <a href="{% url 'courtier_status' courtier.id %}"> -->
                    {{courtier.prenom}}
                  </a>
                  </td>

                <td scope="row">{{courtier.nom}}</td>

                <td scope="row">{{courtier.etablissement}}</td>

                <td scope="row">{{courtier.date}}</td>

                <td class="text-danger" scope="row">
                  {{courtier.date_expire}}
                </td>
                <div class="col-md-4">
                  <td scope="row">
                    {% if courtier.photo_profil %}
                    <img
                      src="{{ courtier.photo_profil.url }}"
                      class="card-img-top img-fluid"
                      style="
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                      "
                      alt="mon_image"
                    />
                    {% else %}
                    <img
                      src=""
                      class="card-img-top img-fluid"
                      style="
                        width: 500px;
                        height: 50px;
                        object-fit: cover;
                      "
                      alt="Images 2"
                    />
                    {% endif %}
                  </td>
                </div>
                <td scope="row">
                  <span class="badge 
                    {% if courtier.statut == 'RETIRE' %} bg-danger text-dark 
                    {% elif courtier.statut == 'EN REGLE' %} bg-success text-dark 
                    {% elif courtier.statut == 'SUSPENDU' %} bg-warning text-dark 
                    {% endif %}" 
                    style="font-size: 0.90rem;">
                    {{ courtier.statut }}
                  </span>
                </td>
                
                <td scope="row">
                  <a href="{% url 'courtier_status' courtier.id %}" class="btn view" title="Voir"
                    ><i class="fas fa-eye"></i
                  ></a>
                  <a href="{% url 'courtier_update' courtier.id %}" class="btn edit" title="Modifier"
                    ><i class="fas fa-edit"></i
                  ></a>
                 
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">Prev</span>
              </a>
            </li>

            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">1</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>

            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    </div>
  </div>
  <style>
    .view {
    background-color: #007bff; /* Bleu */
    color: white;
  }
  
  .edit {
    background-color: #ffc107; /* Jaune */
    color: white;
  }
   </style>