 <!-- templates/yourapp/agent_confirm_delete.html -->
<!-- <form method="post">
  {% csrf_token %}
  <p>Êtes-vous sûr de vouloir supprimer "{{ object }}" ?</p>
  <input type="submit" value="Confirmer" />
</form> -->

{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation de Suppression</title>
    <link href="{% static 'css/validationn.css' %}" rel="stylesheet" />
  </head>
  <body>
    
    <!-- Boîte de dialogue de confirmation -->
    <div id="confirmationDialog" class="dialog-overlay" style="display: none">
      <div class="dialog-box">
        <h3>Confirmation de la suppression</h3>
        <p>Êtes-vous sûr de vouloir supprimer "{{ object }}" ?</p>
        <button id="confirmYes">Oui</button>
        <button id="confirmNo">Non</button>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const deleteButton = document.getElementById("deleteButton");
        const confirmationDialog =
          document.getElementById("confirmationDialog");
        const confirmYes = document.getElementById("confirmYes");
        const confirmNo = document.getElementById("confirmNo");

        deleteButton.addEventListener("click", function () {
          confirmationDialog.style.display = "flex";
        });

        confirmYes.addEventListener("click", function () {
          // Soumet le formulaire pour effectuer la suppression
          document.querySelector("form").submit();
        });

        confirmNo.addEventListener("click", function () {
          // Ferme la boîte de dialogue sans effectuer la suppression
          confirmationDialog.style.display = "none";
        });

        // Ferme la boîte de dialogue si l'utilisateur clique en dehors de celle-ci
        window.addEventListener("click", function (event) {
          if (event.target === confirmationDialog) {
            confirmationDialog.style.display = "none";
          }
        });
      });
    </script>
  </body>
</html>
