{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="{% static 'articles/fontawesome/css/all.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'articles/css/style.css' %}" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="{% static 'articles/dist/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mt-5">
            <div class="card-header text-center">
              <h3>Authentification</h3>
              <a href="#" class="btn btn-link float-right">
                <i class="fas fa-home"></i>
              </a>
            </div>
            <div class="card-body">
              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %} {% if form.errors %} 
              {% for error in form.non_field_errors %}
              <p class="alert alert-danger">{{ error }}</p>
              {% endfor %} {% endif %}

              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-user"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="username"
                      placeholder="Entrez votre email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-lock"></i
                      ></span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Password"
                      required
                    />
                  </div>
                </div>
                <div class="form-group text-right">
                  <a href="#">Mot de passe oublié ?</a>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">
                    Connexion
                  </button>
                </div>
                <div class="form-group text-center"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
