<!-- footer section -->
<section class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> Realiser par
      <a href="https://html.design/">INEKTO</a>
    </p>
  </div>
</section>
<!-- footer section -->

<style>
  /* footer section*/
  .footer_section {
    position: relative;
    background-color: white;
    text-align: center;
    font-family: "Lucida Grande";
  }

  .footer_section p {
    color: #0c7bbc;
    padding: 5px 0;
    margin: 0;
    font-weight: bold;
  }

  .footer_section p a {
    color: rgb(30, 0, 255);
  }
</style>
