{% load static %}
<nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
  <div class="position-sticky py-4 px-3 sidebar-sticky">
    <ul class="nav flex-column h-100">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon bi bi-box-seam-fill me-2"></i>
          AGENTS
          <i class="nav-arrow bi bi-chevron-right"></i>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'list_agent' %}" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              Liste
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'enregistrer' %}" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              Ajouter
            </a>
          </li>
          <!-- Autres éléments du sous-menu -->
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon bi bi-box-seam-fill me-2"></i>
          COURTIERS
          <i class="nav-arrow bi bi-chevron-right"></i>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'liste_courtier' %}" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              Liste
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              Ajouter
            </a>
          </li>
          <!-- Autres éléments du sous-menu -->
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon bi bi-box-seam-fill me-2"></i>
          CONTROLEURS
          <i class="nav-arrow bi bi-chevron-right"></i>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'list_controler'%}" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              Liste
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'ajouter_controler' %}" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              Ajouter
            </a>
          </li>
          <!-- Autres éléments du sous-menu -->
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="bi-gear me-2"></i>
          Settings
        </a>
      </li>

      <li class="nav-item border-top mt-auto pt-2">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="bi-box-arrow-left me-2"></i>
          Déconnexion
        </a>
      </li>
    </ul>
  </div>
</nav>
<script>
  document.querySelectorAll(".nav-item").forEach((item) => {
    item.addEventListener("click", function () {
      this.classList.toggle("active");
    });
  });
</script>
